@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: rgb(170, 170, 170);
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: .5rem;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.icon {
  color: rgb(65, 105, 225);
  font-size: 26px;
  font-weight: 700;
  background: rgb(230, 230, 250);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.close-button {
  background: rgb(238, 238, 238);
  border-radius: 50%;
  color: rgb(136, 136, 136);
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(238, 238, 238);
  padding: 0;
}

.text {
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid rgb(65, 105, 225);
  color: rgb(255, 255, 255);
}

button.continue:hover {
  background: rgb(43, 83, 203);
  color: rgb(255, 255, 255);
}

button.cancel {
  background: rgb(246, 246, 246);
  border: 1px solid rgb(221, 221, 221);
  color: rgb(65, 105, 225);
}

button.cancel:hover {
  background: rgb(189, 189, 189);
}